@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}   

.headerContainer {
    background-color: #E5E5E5;
}

#star {
    display: flex;
    justify-content: center;
    font-size: 600%;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 0;
    margin: 0;
}

.eatTogetherContainer {
    display: flex;
    text-align: center;
    padding: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.eatTogetherContainer img {
    width: 60%;
}

.pText:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subT {
    color: #EAAB1B;
}
.exploreMenuContainer {
    background-color: #EAF3E4;
    text-align: center;
    padding: 20px;
}

.pBox {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 200px;
    background-color: white;
    border-bottom-right-radius: 40px;
    margin: 20px;
    
}

.pBox img {
    position: absolute;
    top: 40%;
    right: 65%;
    width: 60%;
}

.pBox h3 {
    margin-top: 0;
}

.items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    text-align: left;
    font-size: large;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.burgerText {
    display: flex;
    flex-direction: row;
}

.pBox p {
    font-size: medium;
    text-align: center;
    padding: 15%;
    padding-top: 0;
    padding-left: 30%;
    margin-top: 0;
    
}
.lime {
    color: #6CB840;
}

.hotDealsContainer {
    position: relative;
    background-color: #C9ECB5;
    text-align: center;
}

.both {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

.lemonBurger {
    position: relative;
    bottom: 160px;
    display: flex;
    flex-direction: row;
}

#lemonade {
    height: 90%;
}

#likemeat {
    height: 50%;
    position: absolute;
    top: 50%;
    left: 20%;
    
}
#hot {
    margin-top: 0;
    padding: 20px;
}

#sCombo {
    text-align: left;
}

#bnp , #fnd {
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
}
.lemonBurgerText {
    padding-top: 20px;
}

.lemonBurgerText:last-child {
    padding-left: 270px;
    padding-right: 270px;
}